* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo img {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    opacity: 10%;
}
body {
    background-color: rgba(56,63,70,255);
}
.container {
    margin: 3rem 25rem;
    background-color: rgba(239,238,239,255);
}
.content {
    border: 2px solid rgba(171,173,177,255);
    background-color: rgba(239,238,239,255);
    padding: 15px;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid grey;
}
.header img {
    max-width: 80px;
    max-height: 80px;
}
.header h1 {
    color: rgba(120,124,130,255);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.301);
    font-weight: 700;
    font-size: 38px;
}
h2 {
    font-size: 20px;
    color: rgb(136, 137, 156);
    padding-top: 8px;
}
h4 {
    color: rgb(136, 137, 156);
}
p {
    color: rgb(146, 147, 156);
}
.accessoires img {
    max-width: 200px;
    max-height: 200px;
    position: absolute;
    opacity: 10%;
}
.install-process-manu {
    padding: 2px;
    list-style: none;
    background-color: rgb(228, 226, 228);
    width: 24rem;
    border: 1px solid rgb(155, 156, 170);
    box-shadow: -5px black;
}
.install-process-manu li {
   padding: 2px 0px 2px 2px;
}
span {
    background-color: rgb(228, 226, 228);
}
.documentation {
    margin-top: 1rem;
}
.documentation h3 {
    color: rgb(136, 137, 156);
}
.footer {
    margin-top: 3rem;
}
.footer a {
    text-decoration: none;
}